.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-logo {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-links a[aria-current="page"] {
    border-bottom: 2px solid white;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.username {
    position: relative;
    top: 6px;
    right: 10px;
    color: #e7dede;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        border-radius: 5px;
        padding: 10px 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* This will make sure the dropdown is on top of other elements */
    }
    .nav-links.active {
        display: flex;
    }
}
